{% extends "loginbase.html" %}
{% block title%} demo {% endblock %}
{% block content%}
{% with messages =get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages%}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{msg}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor%}
    {% endif%}
{% endwith %} 
<form align="center" action="#" method="POST" >
    <div class="box">
    <body style="background-color:white;"></body>
    {{ form.hidden_tag() }}
    <p>{{ form.username }}</p>
    {{ form.password }}<br>
    <br>
    {{ form.submit }}
    </div>
</form>
<form align="center">
    <a href="/signup">Sign up</a>
</form>

{% endblock %}